.container {
    background: rgba(19, 47, 71, 0.45) !important;
    max-width: none !important;
}

.avatar-container .Player-username {
    font-size: 2em;
    font-family: "Palatino", serif;
    color: rgba(176, 67, 42, 1.0) !important;
}

/* .ratings-grid .title {
    
} */

.strong-losses { 
    fill: rgba(47, 157, 196, 1.0) !important;
}

.weak-losses {
    fill: rgba(43, 79, 130, 1.0) !important;
}

.strong-wins {
    fill: rgba(3, 161, 19, 1.0) !important;
}

.weak-wins {
    fill: rgba(33, 219, 151, 1.0) !important;
}

.library-lost-result-vs-stronger {
    fill: rgba(47, 157, 196, 1.0) !important;
}

library-lost-result-vs-weaker {
    fill: rgba(43, 79, 130, 1.0) !important;
}

.library-won-result-vs-stronger {
    fill: rgba(3, 161, 19, 1.0) !important;
}

.library-won-result-vs-weaker {
    fill: rgba(33, 219, 151, 1.0) !important;
}

