body.dark .container {
    background: rgba(24, 35, 46, 1.0) !important;
    max-width: none !important;
}

body.light .container {
    background: rgba(206, 228, 242, 1.0) !important;
    max-width: none !important;
}

/* .area {
    fill: rgba(126, 77, 210, 0.5) !important;
    stroke: rgba(200, 200, 200, 1.0) !important;
} */

/* .rating.line {
    stroke: rgba(255, 215, 59, 1.0) !important;
} */

.avatar-container .Player-username {
    font-size: 2em;
    font-family: "Palatino", serif;
    color: rgba(176, 67, 42, 1.0) !important;
}

/* .ratings-grid .title {
    
} */

.strong-losses { 
    fill: rgba(47, 157, 196, 1.0) !important;
    background-color: rgba(47, 157, 196, 1.0) !important;
}

.weak-losses {
    fill: rgba(43, 79, 130, 1.0) !important;
    background-color: rgba(43, 79, 130, 1.0) !important;
}

.strong-wins {
    fill: rgba(3, 161, 19, 1.0) !important;
    background-color: rgba(3, 161, 19, 1.0) !important;
}

.weak-wins {
    fill: rgba(33, 219, 151, 1.0) !important;
    background-color: rgba(33, 219, 151, 1.0) !important;
}

.library-lost-result-vs-stronger {
    background: rgba(47, 157, 196, 1.0) !important;
}

.library-lost-result-vs-weaker {
    background: rgba(43, 79, 130, 1.0) !important;
}

.library-won-result-vs-stronger {
    background: rgba(3, 161, 19, 1.0) !important;
}

.library-won-result-vs-weaker {
    background: rgba(33, 219, 151, 1.0) !important;
    color: #1a1a1a !important;
}

.library-lost-result-unranked {
    color: rgba(47, 157, 196, 1.0) !important;
}

.library-won-result-unranked {
    color: rgba(3, 161, 19, 1.0) !important;
}



